@keyframes progressbar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes flip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flip-from-bottom {
  0% {
    transform: rotateX(90deg) translateX(-50%);
  }

  20% {
    transform: rotateX(0deg) translateX(-50%);
  }
  80% {
    transform: rotateX(0deg) translateX(-50%);
  }
  100% {
    transform: rotateX(90deg) translateX(-50%);
  }
}
