#front-page-slider {
  div.front-page-slider-progress {
    height: 3px;
    background: $oliveGreen;
  }

  .front-page-slide {
    position: relative;
    width: 100%;
    height: 600px;
    img.front-page-slide-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    div.front-page-slide-overlay {
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
        135deg,
        rgba($capuccino, 0.95),
        rgba($capuccino, 0.6),
        rgba($capuccino, 0.1)
      );
      div.text {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        position: absolute;
        top: 50%;
        left: 10%;
        width: 90%;
        transform: translate(0%, -50%);
        @include media.max-width(1550) {
          top: 50%;
          left: 5%;
          width: 90%;
          transform: translate(0%, -50%);
        }
        @include media.max-width(medium) {
          align-items: center;
        }

        img.site-logo-slider {
          width: 400px;
          @include media.max-width(small) {
            width: 300px;
          }
        }

        h2 {
          font-family: "Roboto";
          font-size: 6rem;
          color: $mainDarkGray;
          font-weight: 100;
          @include media.max-width(1550) {
            font-size: 3.8rem;
          }
          @include media.max-width(large) {
            font-size: 2.8rem;
          }
        }
        p {
          color: $mainDarkGray;
          font-size: 2rem;
          font-weight: 300;
          @include media.max-width(large) {
            font-size: 1.5rem;
          }
        }
        div.front-page-slide-overlay-buttons {
          display: flex;
          @include media.max-width(small) {
            flex-direction: column;
            align-items: center;
            a {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
