$beige: #faf0ca;
$mainYellow: #f4d35e;
$mainBlue: #31304f;
$lightOrange: #ee964b;
$darkOrange: #f95738;
$darkRed: rgb(129, 0, 0);
$white: #fff;
$lightGreen: #0da33a;
$mainDarkGray: #252525;
$lightGray: rgb(216, 214, 204);
$capuccino: rgb(252, 252, 252);
$oliveGreen: #3c5343;
$gold: #bfa16b;
$lightGold: #f8f3e8;
